@charset "utf-8";
/********************************************/
/*********** 公共参数与方法的集合  **********/
/********************************************/
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
abbr,
acronym {
  border: 0;
}
body {
  font-size: 12px;
  line-height: 1.4;
  color: #666666;
  font-family: "Microsoft Yahei", "sans-serif";
}
/***************************/
/***      iconfont       ***/
/***************************/
@font-face {
  font-family: 'iconfont';
  src: url('../../font/iconfont.eot');
  /* IE9*/
  src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont.iconfont-menu:before {
  content: "\e645";
}
.iconfont.iconfont-user:before {
  content: "\e642";
}
.iconfont.iconfont-wifi:before {
  content: "\e640";
}
.iconfont.iconfont-refresh:before {
  content: "\e63f";
}
.iconfont.iconfont-uncheck-circle:before {
  content: "\e611";
}
.iconfont.iconfont-check-circle:before {
  content: "\e613";
}
.iconfont.iconfont-uncheck-rect:before {
  content: "\e602";
}
.iconfont.iconfont-check-rect:before {
  content: "\e604";
}
.iconfont.iconfont-radio:before {
  content: "\e601";
}
.iconfont.iconfont-close:before {
  content: "\e605";
}
.iconfont.iconfont-top:before {
  content: "\e631";
}
.iconfont.iconfont-bottom:before {
  content: "\e635";
}
.iconfont.iconfont-left:before {
  content: "\e63c";
}
.iconfont.iconfont-right:before {
  content: "\e638";
}
.iconfont.iconfont-home:before {
  content: "\e626";
}
.iconfont.iconfont-false-fill:before {
  content: "\e606";
}
.iconfont.iconfont-true-fill:before {
  content: "\e612";
}
/***************************/
/***         文本        ***/
/***************************/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 10px;
}
.h1,
h1 {
  font-size: 18px;
}
.h2,
h2 {
  font-size: 16px;
}
.h3,
h3 {
  font-size: 14px;
}
p {
  margin: 0 0 10px;
}
.text-primary {
  color: #000000;
}
.text-muted {
  color: #999999;
}
.text-showy {
  color: #ff8a00;
}
.text-danger {
  color: #ff0000;
}
.text-link {
  color: #3288e9;
}
/***************************/
/***       form元素      ***/
/***************************/
input[type="button"].btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.42857;
  margin-bottom: 0;
  outline: 0 none;
  padding: 6px 32px;
  text-align: center;
  white-space: nowrap;
}
input[type="button"].btn.btn-default {
  background-color: #fff;
  border-color: #3288e9;
  color: #3288e9;
}
input[type="button"].btn.btn-primary {
  background-color: #3288e9;
  border-color: #3288e9;
  color: #fff;
}
input[type="button"].btn.btn-warning {
  background-color: #ff8a00;
  border-color: #ff8a00;
  color: #fff;
}
input[type="button"].btn.btn-default-disabled {
  background-color: #fff;
  border-color: #999999;
  color: #999;
}
input[type="text"] {
  outline: none;
  font-size: 14px;
  width: 256px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #999999;
  margin: 10px;
  border-radius: 5px;
}
input[type="text"].txt.txt-default {
  color: #333333;
}
input[type="text"].txt:focus,
input[type="text"].txt.txt-check {
  border-color: #0b79d0;
}
input[type="text"].txt.txt-warning {
  border-color: #d83b3a;
}
input[type="text"].txt.txt-disable {
  border-color: #d9d9d9;
  background-color: #999999;
}
input[type="radio"].radio {
  opacity: 0;
  line-height: 24px;
}
input[type="radio"].radio + .radio {
  font-family: "iconfont" !important;
  font-size: 18px;
}
input[type="radio"].radio + .radio:before {
  color: #0b79d0;
  content: "\e611";
  margin-right: 10px;
}
input[type="radio"].radio:checked + .radio:before {
  content: "\e601";
}
input[type="checkbox"].checkbox {
  opacity: 0;
  line-height: 24px;
}
input[type="checkbox"].checkbox + .checkbox {
  font-family: "iconfont" !important;
  font-size: 18px;
}
input[type="checkbox"].checkbox + .checkbox:before {
  color: #0b79d0;
  content: "\e602";
  margin-right: 10px;
}
input[type="checkbox"].checkbox:checked + .checkbox:before {
  content: "\e604";
}
select {
  outline: none;
  padding: 0 24px 0 10px;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #eeeeee;
  position: relative;
  z-index: 2;
  background: transparent;
  height: 30px;
}
select option {
  padding: 0 24px 0 10px;
}
select + .iconfont-bottom {
  position: relative;
  font-size: 14px;
  left: -30px;
  z-index: 1;
}
/**************************/
/********   模态框   ******/
/**************************/
.xx-modal-section {
  padding: 20px;
  background-color: #efefef;
}
.xx-modal {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  width: 700px;
  padding: 0 20px;
}
.xx-modal .xx-modal-header {
  border-bottom: 1px solid #eaeaea;
}
.xx-modal .xx-modal-header a {
  float: right;
}
.xx-modal .xx-modal-header a span {
  font-size: 24px;
  color: #999999;
}
.xx-modal .xx-modal-header .xx-modal-title {
  line-height: 2;
}
.xx-modal .xx-modal-body {
  padding: 20px 0;
}
.xx-modal .xx-modal-footer {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
  text-align: right;
}
/* css reset  */
