@charset "utf-8";

/********************************************/
/*********** 公共参数与方法的集合  **********/
/********************************************/

//字体颜色
@color-primary:#000000;  //主要颜色
@color-muted:#999999;    //弱化颜色
@color-showy:#ff8a00;    //醒目颜色
@color-danger:#ff0000;   //警告颜色
@color-link:#3288e9;     //链接颜色