@charset "utf-8";
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.media {
  background-color: yellow;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .media {
    background-color: #00a9d5;
  }
}
